# creo un dataframe

In [10]:
import pandas as pd
data= {
    'Name': ['Alice','Bob','Charlie'],
    'Age': [25, 30, 35],
    'City':['New York','Los Angeles','Chicago'] 
}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [2]:
col=df["Name"]

In [3]:
col.idxmax?

Signature: col.idxmax(axis: 'Axis' = 0, skipna: 'bool' = True, *args, **kwargs) -> 'Hashable'
Docstring:
Return the row label of the maximum value.

If multiple values equal the maximum, the first row label with that
value is returned.

Parameters
----------
axis : {0 or 'index'}
    Unused. Parameter needed for compatibility with DataFrame.
skipna : bool, default True
    Exclude NA/null values. If the entire Series is NA, the result
    will be NA.
*args, **kwargs
    Additional arguments and keywords have no effect but might be
    accepted for compatibility with NumPy.

Returns
-------
Index
    Label of the maximum value.

Raises
------
ValueError
    If the Series is empty.

See Also
--------
numpy.argmax : Return indices of the maximum values
    along the given axis.
DataFrame.idxmax : Return index of first occurrence of maximum
    over requested axis.
Series.idxmin : Return index *label* of the first occurrence
    of minimum of values.

Notes
-----
This method is the Series version of ``ndarray.argmax``. This method
returns the label of the maximum, while ``ndarray.argmax`` returns
the position. To get the position, use ``series.values.argmax()``.

Examples
--------
>>> s = pd.Series(data=[1, None, 4, 3, 4],
...               index=['A', 'B', 'C', 'D', 'E'])
>>> s
A    1.0
B    NaN
C    4.0
D    3.0
E    4.0
dtype: float64

>>> s.idxmax()
'C'

If `skipna` is False and there is an NA value in the data,
the function returns ``nan``.

>>> s.idxmax(skipna=False)
nan
File:      c:\users\marti\pycharmprojects\jupyter_import_file\.env\lib\site-packages\pandas\core\series.py
Type:      method

In [11]:
oldest_idx = df["Age"].idxmax()

In [12]:
oldest_record=df.loc[oldest_idx]

In [13]:
oldest_record

Name    Charlie
Age          35
City    Chicago
Name: 2, dtype: object

# MODO 2

In [16]:
import pandas as pd
data= [
    ['Alice', 25, 'New York'],
    ['Bob', 30, 'Los Angeles'],
    ['Charlie', 35, 'Chicago'] 
]
df2 = pd.DataFrame(data, columns = ['Name','Age','City'])
print(df2)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago